*{
    margin: 0px;
    padding: 0px;   
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');



body{
    background-color: #F4F4F4;
    font-size: 1.6rem;
}

/* Meu menu*/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    height: 10vh;   
    margin: auto;
    width: 100%;   
}

.menu ul li  {
    display: inline;
    font-size: 1.0rem;
}

a {
    text-decoration: none;
    padding: 1.25rem;
    color: #1EA4CE;
    font-size: 1.5rem; 
}

.botaoorçamento {
    background:linear-gradient(to right ,#7000FF,#4200FF,#0038FF,#0A83A9, #01E0C5);
    border-radius: 40px;
    padding: 0.938rem 1.875rem;
    color: rgb(255, 255, 255); 
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.404);
    animation: colors 5s ease infinite;
    background-size: 300% 300%;
}

.botaoorçamento:hover {
    background: #7000FF;
}

/* Animação do botão (vai servir para todos os botões*/

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* primeira parte do site */

.section1 {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    margin-right: 25vw;
    margin-left: 18vw;
    margin-top: 15vh;
    flex-wrap: nowrap;
    align-items: center;
}

.section1 >  h1 {
    font-size: 3.3rem;
    color: #0A83A9;
    padding: 10px;
}

.section1 > h1 > span {
    color: #7000FF;  
}

.fotoprincipal {
    box-shadow: 5px 5px 9px 0px rgb(0 0 0 / 31%);
    border-image: linear-gradient(90deg ,#7000FF,#4200FF,#0038FF,#0A83A9, #01E0C5);
    border-width: 13px;
    border-style: solid;
    border-image-slice: 1;
}

.botaoqueromeusite {
    background:linear-gradient(to right ,#7000FF,#4200FF,#0038FF,#0A83A9, #01E0C5);
    border-radius: 40px;
    padding: 0.938rem 1.875rem;
    color: rgb(255, 255, 255);
    margin-left: 21vw;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.404);
    animation: colors 5s ease infinite;
    background-size: 300% 300%;
    box-shadow: 1px 0px 20px 6px #00bcd4;
}

.botaoqueromeusite:hover {
    background: #7000FF;
}

/* segunda parte do site (seção 2)*/

.primeirafotouniverso {
    margin-top: 8vh;
    height: 55vh;
    background-image: url(../imagens/universo1.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    position: relative; 
}

.landingpage{
    position: absolute;
    left: 10%;
    top: 25%;
    bottom: 20%;
    right: 70%;
    text-align: left;
    box-shadow: 5px 5px 9px 0px rgb(0 0 0 / 31%);
    border-image: linear-gradient(90deg ,#7000FF,#4200FF,#0038FF,#0A83A9, #01E0C5);
    border-width: 13px;
    border-style: solid;
    border-image-slice: 1;   
}

.landingpage > h2 {
    color: #01E0C5;
    font-size: 2rem;
    padding: 0.938rem;
    margin: 0.625rem;
}

.landingpage > p {
    color: white;
    font-size: 1.5rem;
    padding: 0.938rem;
    margin: 0.625rem;
}

.siteinsitucional {
    position: absolute;    
    text-align: left;
    border: black 15px solid;
    top: 25%;
    bottom: 20%;
    left: 40%;
    right: 40%;
    box-shadow: 5px 5px 9px 0px rgb(0 0 0 / 31%);
    border-image: linear-gradient(50deg ,#7000FF,#4200FF,#0038FF,#0A83A9, #01E0C5);
    border-width: 13px;
    border-style: solid;
    border-image-slice: 1; 
}

.siteinsitucional > h2 {
    color: #01E0C5;
    font-size: 2rem;
    padding: 0.938rem;
    margin: 0.625rem;
}

.siteinsitucional > p {
    color: white;
    font-size: 1.5rem;
    padding: 0.938rem;
    margin: 0.625rem;
}

.lojavirtual {
    position: absolute;
    text-align: left;   
    box-shadow: 5px 5px 9px 0px rgb(0 0 0 / 31%);
    border-image: linear-gradient(90deg ,#7000FF,#4200FF,#0038FF,#0A83A9, #01E0C5);
    border-width: 13px;
    border-style: solid;
    border-image-slice: 1;
    top: 25%;
    left: 70%;
    right: 10%;
    bottom: 20%;
}

.lojavirtual > h2 {
    color: #01E0C5;
    font-size: 2rem;
    padding: 0.938rem;
    margin: 0.625rem;
}

.lojavirtual > p {
    color: white;
    font-size: 1.5rem;
    padding: 0.938rem;
    margin: 0.625rem;
}

/* terceira parte do site (seção3) */

#titulonossaequipe {
    text-align: center;
    padding: 0.625rem;
    margin: 5rem 0rem 5rem 0rem;
    font-size: 3rem;
    color: #0A83A9;
    
}

.quemsomos {
    display: flex;
    justify-content: center;
}

.alternativo {
    padding: 0.313rem;
    margin: 0.625rem 3.125rem 0.625rem 0.625rem ;
    box-shadow: 5px 5px 9px 0px rgb(0 0 0 / 31%);
    border-image: linear-gradient(10deg ,#7000FF,#4200FF,#0038FF,#0A83A9, #01E0C5);
    border-width: 8px;
    border-style: solid;
    border-image-slice: 1;
    background: rgba(128, 128, 128, 0.103);
}

.alternativo > h3 {
    color: #0A83A9;
    font-size: 1.5rem;
    margin: 0.625rem 0rem 0.313rem 0.313rem; 
}

.alternativo > p {
    font-size: 1rem;
    margin: 0.625rem 0rem 0.313rem 0.313rem; 
    color: black;
}

.eu {
    padding: 0.313rem;
    margin: 0.625rem 3.125rem 0.625rem 0.625rem ;
    box-shadow: 5px 5px 9px 0px rgb(0 0 0 / 31%);
    border-image: linear-gradient(10deg ,#7000FF,#4200FF,#0038FF,#0A83A9, #01E0C5);
    border-width: 8px;
    border-style: solid;
    border-image-slice: 1;
    background: rgba(128, 128, 128, 0.103);
}

.eu > h3 {
    color: #0A83A9;
    font-size: 1.5rem;
    margin: 0.625rem 0rem 0.313rem 0.313rem;  
}

.eu > p {
    font-size: 1rem;
    margin: 0.625rem 0rem 0.313rem 0.313rem; 
    color: black;
}

/* quarta parte do site (seção 4)*/

#portfolio {
    text-align: center;
    padding: 0.625rem;
    margin: 5rem 0rem 5rem 0rem;
    font-size: 3rem;
    color: #0A83A9;
}

.fotosdesites{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.primeiroportfolio {
    margin: 0rem 2.5rem 0rem 0rem;
    box-shadow: 5px 5px 9px 0px rgb(0 0 0 / 31%);
    border-image: linear-gradient(10deg ,#7000FF,#4200FF,#0038FF,#0A83A9, #01E0C5);
    border-width: 5px;
    border-style: solid;
    border-image-slice: 1;
    padding: 0.188rem 0.188rem 0rem 0.188rem;
}

.portfolio-link{
    padding: 0px;
    margin: 0px;
}

.segundoportfolio{
    margin: 0rem 2.5rem 0rem 2.5rem;
    box-shadow: 5px 5px 9px 0px rgb(0 0 0 / 31%);
    border-image: linear-gradient(10deg ,#7000FF,#4200FF,#0038FF,#0A83A9, #01E0C5);
    border-width: 5px;
    border-style: solid;
    border-image-slice: 1;
    padding: 0.188rem 0.188rem 0rem 0.188rem;
}

.terceiroportfolio {
    margin: 0rem 0rem 0rem 2.5rem ;
    box-shadow: 5px 5px 9px 0px rgb(0 0 0 / 31%);
    border-image: linear-gradient(10deg ,#7000FF,#4200FF,#0038FF,#0A83A9, #01E0C5);
    border-width: 5px;
    border-style: solid;
    border-image-slice: 1;
    padding: 0.188rem 0.188rem 0rem 0.188rem;
}

.iconeesquerda {
    margin: 0rem 0rem 0rem 2.5rem;
}

.iconedireita{
    margin: 0rem 2.5rem 0rem 0rem;
}

 button {
    border: none;
    cursor: pointer;
}

#clientes {
    text-align: center;
    padding: 0.625rem;
    margin: 5rem 0rem 5rem 0rem;
    font-size: 3rem;
    color: #0A83A9;
    
}

.comentarios-clientes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.area-do-cliente {

    background: rgba(224, 222, 222, 0.651);
    box-shadow: 5px 5px 9px 0px rgb(0 0 0 / 31%);
    border-image: linear-gradient(10deg ,#7000FF,#4200FF,#0038FF,#0A83A9, #01E0C5);
    border-width: 5px;
    border-style: solid;
    border-image-slice: 1;
    padding: 3rem;
    width: 30rem;
    height: 8rem;
    text-align: center;
    color: rgb(5, 5, 5);
    font-size: 1.5rem;  
}

.area-do-cliente > h4 {
    margin-bottom: 0.8rem;
    margin-top: 0rem;
}

/* quinta parte do site (seção 5) */

#orçamento {
    text-align: center;
    padding: 0.625rem;
    margin: 5rem 0rem 5rem 0rem;
    font-size: 3rem;
    color: #0A83A9;
}

.secaodoorçamento {   
    background-image:linear-gradient(90deg ,#7000FF,#4200FF,#0038FF,#0A83A9, #01E0C5);   
    width: 100%;
    height: 45rem;  
    position: relative;
    display: flex;
    align-items:center;
}

.secaodoorçamento > form > p {
    color: white;
    font-size: 1.5rem;
    padding: 0.375rem;
}


.formulario {
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    position: absolute;
    padding: 1.875rem;
    width: 25rem;
    height: 35rem;
    left: 25rem; 
    box-shadow: 9px 8px 20px 3px #00000057;
    border: #00e2ff 5px solid;
}

.input {
    padding: 0.938rem;
    margin: 0.625rem;
    width: 20rem;
    border-radius: 0rem;
    font-size: 1rem;
    box-shadow: 5px 5px 9px 0px rgb(0 0 0 / 31%);
    border: none;
    border-radius: 10px;
    
}

.input:first-child {
    margin-top: 3vh;
}

#msg {
    min-height: 13rem;
    resize: vertical;
    margin-bottom: 2vh;
}

.submeterorçamento {
    font-size: 1.5rem;
    background:linear-gradient(to right ,#7000FF,#4200FF,#0038FF,#0A83A9, #01E0C5);
    border-radius: 40px;
    padding: 0.938rem 1.875rem;
    color: rgb(255, 255, 255);
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.404);
    animation: colors 5s ease infinite;
    background-size: 300% 300%;
    box-shadow: 1px 0px 20px 6px #0055d4;  
} 

.submeterorçamento:hover{
    background: #7000FF;
}

/*
@keyframes fly {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(200%, -50px);
    }

    100% { 
        transform: translate(calc(39vw - 200px), 0);
    }
} */



.textogratis {
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    left: 65rem;
}

.textogratis > h2 {
    font-size: 4rem;
    color: white    ;
}

.textogratis > h2 > span {
    color: #00ffe3;
}

.foguete {
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    left: 72rem;
    top: 25rem;
    animation: fly 2s;
    animation-iteration-count: infinite;
    
}

/* footer*/

footer {
    background: rgb(209, 211, 208);
    height: 20vh;  
    position: relative; 
    width: 100%;
}

.footer-final {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.95rem;
}

.contato > p{
    padding: 0.313rem;
}

.arborfooter {
    height: 8vh;
}

.expecificao {
    margin: 0.313rem;
}

.icones {
    list-style: none;
    display: flex;
    text-align: center;
}

.icones > li {
    color: #7000FF;
    font-size: 1.875rem;
    width: 3.75rem;
    height: 3.75rem;
    display: block;
    position: relative;
    background: #01E0C5;
    line-height: 3.75rem;
    border-radius: 50%;
    margin: 0rem 0.938rem;
    cursor: pointer;
}

.icones > li:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #01E0C5;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);     
}

.icones > li:hover {
    transform: scale(1.2);
}

@media (max-width: 1677px) {
    .foguete {
        width: 10rem;
        height: 18rem;
    }
}

@media (max-width: 1441px) {
    html {
        font-size: 70%;
    }
    .foguete {
        width: 10rem;
        height: 18rem;
    }
}

@media  (max-width: 1040px) {
    html {
        font-size: 70%;
    }
    
    .section1 {
        flex-direction: column;
        text-align: center;
        align-items: center;
        
    }        

    .fotoprincipal {
        margin-top: 1rem;
        width: 45rem;
        height: 30rem;
    }

    .quero > ul >li {
        margin-top: 3rem;
        list-style: none;
    }

    .fotosdesites {
        display: block;
         text-align: center;
         width: 37%;
         justify-content: center;
         margin-left: 33%;
    }

    .iconedireita, .iconeesquerda {
        display: none;
    }

    .primeiroportfolio{
        margin: 0rem 7rem 0rem 4rem;
        margin-bottom: 1rem;
    }
    
    .segundoportfolio {
        margin: 0rem 7rem 0rem 4rem;
        margin-bottom: 1rem;
    }
    .terceiroportfolio {
        margin: 0rem 7rem 0rem 4rem;
    }

    .comentarios-clientes{
        display: block;
        justify-content: center;
        align-items: center;
    }

    .area-do-cliente {
        width: auto;
        margin-bottom:5rem;
        margin: 1rem 2rem 0rem 2rem;

    }

    .test {
        display: none;
    }

    .textogratis, .foguete {
        display: none;
    }
    
}
    
    @media (max-width: 769px) {
        html {
            font-size: 60%;
        }
        .arbormaker {
            display: none;
        }

        .menu > ul > li > a{
            font-size: 2rem;
        }
        
        .section1 {
            flex-direction: column;
            text-align: center;
            align-items: center;
        }        

        .fotoprincipal {
            margin-top: 1rem;
            width: 45rem;
            height: 30rem;
        }

        .quero > ul >li {
            margin-top: 3rem;
            list-style: none;
        }

        .quemsomos {
            display: inline-block;
            justify-content: center;
            align-items: center;
            margin: 0rem 20rem 0rem 20rem;
        }

        .fotosdesites {
            display: block;
             text-align: center;
             width: 37%;
             justify-content: center;
             margin-left: 33%;
        }

        .iconedireita, .iconeesquerda {
            display: none;
        }
        
        .primeiroportfolio{
            margin: 0rem 2.5rem 1rem 0rem;
        
        }
        .segundoportfolio {
            margin: 0rem 2.5rem 1rem 0rem;
        }

        .terceiroportfolio {
            margin: 0rem 2.5rem 0rem 0rem;
        }

        .comentarios-clientes{
            display: block;
            justify-content: center;
            align-items: center;
            
        }

        .area-do-cliente {
            width: auto;
            margin-bottom:5rem;
            margin: 1rem 8rem 0rem 8rem;

        }

        .test {
            display: none;
        }

        .textogratis, .foguete {
            display: none;
        }
}





@media (max-width: 430px) {
    html {
        font-size: 50%;
    }

    .arbormaker {
        display: none;
    }

    .menu > ul > li > a{
        font-size: 2rem;
    }
    
    .section1 {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }       
    
    .quero {
        margin-left: 4rem;
    }

    .fotoprincipal {
        margin-top: 1rem;
        width: 45rem;
        height: 30rem;
    }

    .quero > ul >li {
        margin-top: 3rem;
        list-style: none;
    }

    .primeirafotouniverso {
        display: none;
    }

    .botaoqueromeusite{
        margin-left: 15rem;}

    #titulonossaequipe {
        margin: 10rem;
    }

    .quemsomos {
        display: inline-block;
        justify-content: center;
        align-items: center;
        margin: 0rem 4rem 0rem 4rem
    }

    .fotosdesites {
        display: block;
         text-align: center;
         width: 37%;
         justify-content: center;
         margin-left: 33%;
    }

    .iconedireita, .iconeesquerda {
        display: none;
    }
    
    .primeiroportfolio{
        margin: 0rem -3.5em 1rem -7rem;
    }
    
    .segundoportfolio {
        margin: 0rem -3.5em 1rem -7rem;
    }
        
    .terceiroportfolio {
        margin: 0rem -3.5em 0rem -7rem;    
    }

    .comentarios-clientes{
        display: block;
        justify-content: center;
        align-items: center;
    }

    .area-do-cliente {
        width: auto;
        margin-bottom:5rem;
        margin: 1rem 2rem 0rem 2rem;

    }

    .test {
        display: none;
    }

    .textogratis, .foguete {
        display: none;
    }
    
    .formulario {
        left: 12rem;
    }
}

@media (max-width:378px){
    .quero {
        margin-left: 6.8rem;
    }

    .fotoprincipal {
        width: 33rem;
        height: 26rem; 
    }
    
    .botaoqueromeusite{
        margin-left: auto;
    }

    #titulonossaequipe {
        margin: 8rem;
    }

    .quemsomos {
        margin: auto;
    }

    .alternativo {
        width: 30rem;
        margin: 0rem 5rem 0rem 5rem;
        margin-bottom: 1rem;
    }

    .alternativo > img {
        width: 30rem;
    }

    .eu {
        width: 30rem;
        margin: 0rem 5rem 0rem 5rem;
    }

    .eu > img {
        width: 30rem;
    }

    .primeiroportfolio {
        margin: 0rem -6.5rem 1rem -7rem;
    }

    .segundoportfolio {
        margin: 0rem -6.5rem 1rem -7rem;
    }

    .terceiroportfolio {
        margin: 0rem -6.5rem 0rem -7rem;
    }

    .formulario {
        left: 7rem;
    }
}